/*PARA IMPORTAR LA FUENTE @IMPORT GOOGLE FONTS*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/*Variables de Color*/

:root {
  --color-primary: #310ecc;
  --color-secondary: #5f46d1;
  --color-dark: #000000;
  --color-light: #ccc;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Dancing Script";
  font-size: 40px;
  color: white;
}

a {
  text-decoration: none;
}

header {
  height: 80px;
}

h4 {
  font-family: "Dancing Script";
  font-size: 30px;
  font-weight: 8px;
}

h5 {
  font-family: Quicksand;
  font-weight: bold;
}
h6 {
  font-family: "Quicksand";
}

.hero-image img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Para que la imagen cubra el área sin deformarse */
  display: block;
}

.hero-text {
  font-family: "Dancing Script";
  font-size: xx-large;
}

.card {
  width: 300px;
  height: 250px;
  border-radius: 2px solid #068f0d;
  box-shadow: 0 4px 8px;
}

.card-header {
  background-color: #2d8f32;
  color: white;
  padding: 8px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.card-body {
  text-align: center;
  vertical-align: middle;
}

form {
  border-radius: 8px;
}

input {
  border: none;
}

.Input-consulta {
  width: 500px;
  height: 100px;
  vertical-align: top;
}
section {
  border-radius: 12px;
}
